@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}
hmtl{
    scroll-behavior: smooth;
    
}




*{
    font-family:'poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
#sidebar-toggle{
    display: none;
}



.sidebar{
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: var(--main-color);
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.sidebar-menu{
    padding: 1rem;
}
.sidebar li{
    margin-bottom: 1.2rem;
}
.sidebar a{
    color: #fff;
font-size: .9rem;
}


.sidebar a span:last-child{
    padding-left:  .6rem;
}
#sidebar-toggle:checked ~ .sidebar{
    width: 60px;

}
  
  
#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span:last-child,
#sidebar-toggle:checked ~ .sidebar li a:last-child{
display: none;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li{
display: flex;
justify-content: center;
}
#sidebar-toggle:checked ~ .main-content{
    margin-left: 60px;
} 
#sidebar-toggle:checked ~ .main-content header{
    left: 60px;
} 

.main-content{
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

header{
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: 80%;
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;

}
.search-wrapper{
    display: flex;
    align-items: center;
}
.search-wrapper input{
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
}
.social-icons{
    display: flex;
    text-align: center;
}
.social-icons span,
.social-icons div{

margin-left: 1.2rem;
}


main{
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 30vh;
    padding: 1rem 3rem;

}
.desh-title{
    color: var(--color-dark);
    margin-bottom: 1rem;
}
.desh-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
}
.card-single{
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.card-body{
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;

}
.card-body span{
    font-size: 1.5rem;
    color: #777;
    padding-right: 1.4rem;
}
.card-body h5{
    color: var(--text-grey);
    font-size: 1.2rem;
}
.card-body h4{
    color: var(--color-dark);
    font-size: 1.2rem;
    margin-top: .2rem;
}
.card-footer{
    padding: .2rem 1rem;
    background: #f9fafc;
}
.card-footer a{
    color: var(--main-color);
}

.section-title{
    color: var(--color-dark);
    margin-bottom:3rem;
    margin-top: 1rem;
    margin-right: 2rem;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    

    border-radius:var(--mb-6)
    
}

.work__container{
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

}
.work__img h1{
    color: var(--color-dark);
    font-size: 1.2rem;
    margin-top: .2rem;
}

.work__img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3rem;
    margin-top: 3rem;
}
.work__img img{
    transition: 1s;
    cursor: pointer;
    
}
.work__img img:hover{
    transform: scale(1.1);
}


#profile{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    color: var(--text-grey);
}
.activity-card,
.summary-card{
    background: #fff;
    border-radius: 7px;
    
}
.activity-card h3{
    color: var(--text-grey);
    margin: 1rem;
}
.activity-card table{
    width: 100%;
    border-collapse: collapse;
}
.activity-card thead{
    background: #efefef;
    text-align: left;
}
th,td{
font-size: .9rem;
padding:1rem 1rem;
color: var(--color-dark);
}
td{
    font-size: .85rem;
}
td:nth-child(even) {
    background: #f9fafc;
}
.badge{
    padding: .2rem 1rem;
    border-radius: 20px;
    color: var(--main-color);
}
.badge.success{
    background: #DEF7EC;
}
.img-1,.img-2,.img-3,.img-4,.img-5{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -10px;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-1{
    background-image: url(img/project1.png);
}
.img-2{
background-image: url(img/person.webp);
}
.img-3{
    background-image: url(img/person.webp);
}
.img-4{
    background-image: url(img/person.webp);
}
.img-5{
    background-image: url(img/person.webp);
}

.todolist{
    height: 60vh;
}
.wrapper{
    background: #fff;
    max-width: 400px;
    
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(27, 27, 27, 0.1);
  }
 .wrapper h2{
     text-align: center;
 }
  .wrapper .inputField{
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
  }
  .inputField input{
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
  }
  .inputField input:focus{
    border-color: #8E49E8;
  }
  .inputField button{
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #8E49E8;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .inputField button:hover,
  .footer button:hover{
    background: #721ce3;
  }
  .inputField button.active{
    opacity: 1;
    pointer-events: auto;
  }
  .wrapper .todoList{
    max-height: 250px;
    overflow-y: auto;
  }
  .todoList li{
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
  }
  .todoList li .icon{
    position: absolute;
    right: -45px;
    background: #e74c3c;
    width: 45px;
    text-align: center;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .todoList li:hover .icon{
    right: 0px;
  }
  .wrapper .footer{
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .footer button{
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    background: #8E49E8;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .footer button.active{
    opacity: 1;
    pointer-events: auto;
  }



  .container{
	max-width: 1000px;
	margin: auto;
}
.gallery{
    margin:0;
	font-family: sans-serif;
	background-color: #efefef;
	width: 100%;
	float: left;
	padding:30px 15px;
}
.gallery .title h1{
	font-size:36px;
	margin:0 0 30px;
    padding: 5px;
	color:#000000;
	text-align: center;
}
.gallery .gallery-items .item{
	float: left;
	width:25%;
    padding: 10px 5px;
	position: relative;
}
.gallery .gallery-items .item.hide{
	display: none;
}
.gallery .gallery-items .item.show{
	display: block;
	animation: show .5s ease;
}
@keyframes show{
    0%{
    	opacity:0;
    	transform: scale(0.9);
    }
    100%{
    	opacity:1;
    	transform: scale(1);
    }
}


.gallery .gallery-items .item img{
	width: 100%;
	display: block;
    padding: 10px;
    transition: 1s;
    cursor: pointer;
}
.gallery .gallery-items .item img:hover{
    transform: scale(1,1);
}
.gallery .gallery-items .item .caption{
	position: absolute;
	left:0px;
	bottom:0;
	background-color: rgba(0,0,0,.5);
	padding:10px 5px;
	width: 100%;
	color:#ffffff;
	text-align: center;
}
.gallery .pagination{
	width: 100%;
	float: left;
	padding:15px;
	text-align: center;
}
.gallery .pagination div{
	display: inline-block;
	margin:0 10px;
}
.gallery .pagination .page{
	color:gray;
}
.gallery .pagination .prev,.gallery .pagination .next{
 color:#000;
 border:1px solid #000;
 font-size:15px;
 padding:7px 15px;
 cursor: pointer;
}

.gallery .pagination .prev.disabled,
.gallery .pagination .next.disabled{
	border-color: gray;
	color:gray;
	pointer-events: none;
}

.caption, .icon{
    display: flex;
    justify-content: space-around;

}
.icon{
    background-color: rgb(90, 85, 85);

}





@media only screen and (max-width: 1200px){
    .sidebar{
        width: 60px;
        z-index: 150;
    }
    .sidebar .sidebar-header h3 span,
    .sidebar li a:last-child{
        display: none;


    }
    .sidebar .sidebar-header,
    .sidebar li{
        display: flex;
        justify-content: center;

    }
    .main-content{
        margin-left: 60px;

    }
    .main-content header{
        left: 60px;
        width: calc(100%- 60px);
    }
    #sidebar-toggle:checked ~ .sidebar{
        width: 240px;
    }
    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3,
    #sidebar-toggle:checked ~ .sidebar li  a:last-child{
    display:inline;
    }
    #sidebar-toggle:checked ~ .sidebar .sidebar-header{
        display: flex;
    justify-content: space-between;
    
    }
    #sidebar-toggle:checked ~ .sidebar li{
        display: block;
        
    }
    #sidebar-toggle:checked ~ .main-content{
        margin-left: 60px;
    }
    #sidebar-toggle:checked ~ .main-content header{
        left: 60px;
    }








     .gallery-items .item{
        display:table-column;

    }

}


